body{
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #131921;
    color: white;
    width:350px;
}
/*Suggestion Section*/
.suggestion_container{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

#commentInputText{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

ol {
    list-style-type: decimal;
    padding-left: 1em;
}

ol li {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
    margin:5px;
}

.suggestion_text{
    font-size: 13px;
    flex-basis: 70%;
}

.suggestion_button{
    flex-basis: 30%;
    text-align: right;
}

/*Preview Section*/
.preview_container{
    padding: 10px;
}

.preview{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.preview_button{
    padding: 5px;
    margin: 5px;
    float: right;
}

button{
    background-color: #19245f;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.tabcontent{
    margin: 5px;
}

.tablinks{
    width: 40%;
    margin: 5px;
    flex:1;
}

.tab {
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.setting-item span {
    margin-right: auto;
}

#message {
    display: none;
    font-size: 16px;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#LLM_Icon {
    position: absolute;
    z-index: 1000;
}

#popup-llm {
    width: 600px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

#LLM_API{
    width: 100%;
}

#github_Token{
    width: 75%;
}