body{
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    width:350px;
}
/*Suggestion Section*/
.suggestion_container{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

#commentInputText{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

ol {
    list-style-type: decimal;
    padding-left: 1em;
}

ol li {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
    margin:5px;
}

.suggestion_text{
    font-size: 13px;
    flex-basis: 70%;
}

.suggestion_button{
    flex-basis: 30%;
    text-align: right;
}

/*Preview Section*/
.preview_container{
    padding: 10px;
}

.preview{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.preview_button{
    padding: 5px;
    margin: 5px;
    float: right;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
